@import "tailwindcss";

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-display: "Satoshi", sans-serif;

  --text-sm: 0.875rem;
  --text-base: 1rem;

  --color-blacknord: #2e3440;
  --color-whitenord: #eceff4;
  --color-blackdark: #222222;
  --color-whitelight: #fafafa;
  --color-graynord: #4c566a;
  --color-accent: #e5e5e5;
}

.reveal {
  opacity: 0; /* Awalnya transparan */
  transition: all 1s ease;
  /* transition: all 1s cubic-bezier(0.5, 0, 0, 1);  */
  filter: blur(5px); /* Opsional: efek blur sedikit biar dramatis */
}

/* 2. State Awal: Arah datangnya darimana? */
.reveal-up {
  transform: translateY(120px); /* Geser ke bawah 50px */
}

.reveal-left {
  transform: translateX(-50px); /* Geser ke kiri 50px */
}

.reveal-right {
  transform: translateX(120px); /* Geser ke kanan 50px */
}

/* 3. State Akhir: Saat elemen masuk layar (ditambahkan oleh JS nanti) */
.in-view {
  opacity: 1;
  transform: translate(0); /* Kembali ke posisi asal */
  filter: blur(0);
}
