@import "tailwindcss";

/* @font-face {
  font-family: "Mona Sans";
  src: url("/fonts/mona-sans-700-normal.woff2") format("woff2");
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mona Sans";
  src: url("/fonts/mona-sans-600-normal.woff2") format("woff2");
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mona Sans";
  src: url("/fonts/mona-sans-500-normal.woff2") format("woff2");
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mona Sans";
  src: url("/fonts/mona-sans-400-normal.woff2") format("woff2");
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mona Sans";
  src: url("/fonts/mona-sans-300-normal.woff2") format("woff2");
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
} */

@theme {

  --text-sm: 0.875rem;
  --text-base: 1rem;

  --color-blacknord: #2e3440;
  --color-whitenord: #eceff4;
  --color-blackdark: #222222;
  --color-whitelight: #fafafa;
  --color-graynord: #4c566a;
  --color-accent: #e5e5e5;
}

body {
  font-family: "Mona Sans", sans-serif;
}

.reveal {
  opacity: 0;
  transition: all 1s ease;
  filter: blur(5px);
}

.reveal-up {
  transform: translateY(120px);
}

.reveal-left {
  transform: translateX(-50px);
}

.reveal-right {
  transform: translateX(120px);
}

/* State Akhir */
.in-view {
  opacity: 1;
  transform: translate(0);
  filter: blur(0);
}
