@import "tailwindcss";

@font-face {
  font-family: "Inter Tight";
  src: url("/fonts/inter-tight-semibold.woff2") format("woff2");
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter Tight";
  src: url("/fonts/inter-tight-medium.woff2") format("woff2");
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-inter: "Inter", sans-serif;
  --font-inter-display: "Inter Display", sans-serif;
  --text-sm: 0.875rem;
  --text-base: 1rem;

  --color-blacknord: #2e3440;
  --color-whitenord: #eceff4;
  --color-blackdark: #141414;
  --color-whitelight: #fafafa;
  --color-graynord: #4c566a;
  --color-accent: #e5e5e5;
}

body {
  font-family: "Inter Tight", sans-serif;
}

.content {
  @apply font-inter text-2xl lg:text-4xl py-1 lg:leading-12;
}
