---
import Navlink from "./ui/Navlink.astro"

const links = [
    {href : '/#home', label : 'Home'},
    {href : '/#about', label : 'About'},
    {href : '/#skills', label : 'Skills'},
    {href : '/#projects', label : 'Projects'},
    {href : '/#contact', label : 'Contact'},
];

---

<header class="sticky top-0 z-50 px-5 py-3 md:px-10 bg-blackdark text-whitelight flex items-center justify-between">
    <h1 class="logo font-semibold text-2xl text-center">Ananda ZP</h1>
    <button id="hamburger" class="cursor-pointer lg:hidden">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </button>
    
    <nav class="lg:hidden absolute top-full left-0 right-0 max-h-0 overflow-hidden px-5 py-3 text-center space-y-20 transition-all duration-300 text-whitenord">
        {links.map(link => (
            <Navlink href={link.href} label={link.label} />
        ))}
    </nav>

    <nav class="hidden lg:flex items-center gap-8">
        {links.map(link => (
            <Navlink href={link.href} label={link.label} />
        ))}
    </nav>
</header>

<script>
    function setupMobileMenu(){
        const hamburger = document.querySelector('#hamburger')
        const header = document.querySelector('header')
        const nav = document.querySelector('nav');
        const links = document.querySelectorAll('a');

        function closeMenu() {
            header?.classList.remove('z-50');
            nav?.classList.add('max-h-0');
            nav?.classList.remove('h-[90vh]', 'bg-blacknord');
        }

       function toggleMenu(){

            const isClosed = nav?.classList.contains('max-h-0');
            
            if (isClosed) {
                header?.classList.add('z-50');
                nav?.classList.remove('max-h-0');
                nav?.classList.add('h-[90vh]', 'bg-blacknord');
            } else {
            closeMenu();
            }
        }

        hamburger?.addEventListener('click',()=>{
            toggleMenu()
        })

        links?.forEach(link =>{
            link.addEventListener('click',()=>{
                closeMenu()
            })
        })
    }

    setupMobileMenu()
    // Jalankan function saat load page, karena Astro menggunakan SPA
    document.addEventListener('astro:page-load', setupMobileMenu)
</script>