---
import Navlink from "./ui/Navlink.astro"

const links = [
    {href : '#home', label : 'Home'},
    {href : '#about', label : 'About'},
    {href : '#skills', label : 'Skills'},
    {href : '#projects', label : 'Projects'},
    {href : '#contact', label : 'Contact'},
];

---

<header role="heading" class="relative top-0 px-5 py-3 md:px-10 bg-blacknord text-whitenord flex items-center justify-between">
    <h1 class="logo font-semibold text-2xl text-center">Ivan</h1>
    <button id="hamburger" class="cursor-pointer">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </button>
    
    <nav class="absolute top-10 left-0 right-0 max-h-0 overflow-hidden px-5 py-3 text-center space-y-20 transition-all duration-300 text-whitenord">
        {links.map(link => (
            <Navlink href={link.href} label={link.label} />
        ))}
    </nav>
</header>

<script>
    const hamburger = document.querySelector('#hamburger')
    const nav = document.querySelector('nav');

    hamburger?.addEventListener('click',()=>{
        toggleMenu()
    })
    let isOpen = false;
    
    function toggleMenu(){
        isOpen = !isOpen
        console.log(isOpen)
        nav?.classList.toggle('max-h-0');
        nav?.classList.toggle('h-[90vh]');
        nav?.classList.toggle('bg-blacknord');
    }
</script>