---
import Navlink from "./ui/Navlink.astro";
import Button from "../components/ui/Button.astro";

const links = [
  { href: "/", label: "Home" },
  { href: "/#about", label: "About" },
  { href: "/#projects", label: "Projects" },
];
---

<header
  class="sticky top-0 z-50 px-5 py-3 md:px-10 bg-blackdark text-whitelight flex items-center justify-between"
>
  <h1 class="logo font-medium text-2xl text-center">AZP</h1>
  <button id="hamburger" class="cursor-pointer lg:hidden" name="hamburger">
    <svg
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      stroke="currentColor"
      class="size-7"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="M4 6H20"></path>
      <path d="M7 12H20"></path>
      <path d="M13 18H20"></path>
    </svg>
  </button>

  <!-- Mobile Nav -->
  <nav
    class="lg:hidden fixed top-[56px] left-0 right-0 w-full h-[calc(100vh-64px)]
           bg-blackdark
           opacity-0 invisible translate-y-[-10px] pointer-events-none
           transition-all duration-300 ease-in-out
           overflow-y-auto"
    id="mobile-nav"
  >
    <div
      class="flex flex-col justify-start items-center min-h-full py-10 gap-20 px-5"
    >
      {links.map((link) => <Navlink href={link.href} label={link.label} />)}
    </div>
  </nav>

  <!-- Desktop Nav -->
  <nav class="hidden lg:flex items-center gap-8">
    {links.map((link) => <Navlink href={link.href} label={link.label} />)}
    <Button
      href="mailto:anandazulvansyahputra@gmail.com"
      variant="secondary"
      label="Send Message"
      target="_blank"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="22"
        height="22"
        fill="#222222"
        viewBox="0 0 256 256"
        class="mr-1"
        ><path
          d="M225.88,30.12a13.83,13.83,0,0,0-13.7-3.58l-.11,0L20.14,84.77A14,14,0,0,0,18,110.85l85.56,41.64L145.12,238a13.87,13.87,0,0,0,12.61,8c.4,0,.81,0,1.21-.05a13.9,13.9,0,0,0,12.29-10.09l58.2-191.93,0-.11A13.83,13.83,0,0,0,225.88,30.12Zm-8,10.4L159.73,232.43l0,.11a2,2,0,0,1-3.76.26l-40.68-83.58,49-49a6,6,0,1,0-8.49-8.49l-49,49L23.15,100a2,2,0,0,1,.31-3.74l.11,0L215.48,38.08a1.94,1.94,0,0,1,1.92.52A2,2,0,0,1,217.92,40.52Z"
        ></path></svg
      >
    </Button>
  </nav>
</header>

<script>
  function setupMobileMenu() {
    const hamburger = document.querySelector("#hamburger");
    const header = document.querySelector("header");
    const mobileNav = document.querySelector("#mobile-nav");
    const links = document.querySelectorAll("#mobile-nav a");

    if (!hamburger || !mobileNav) return;

    function openMenu() {
      mobileNav?.classList.remove(
        "opacity-0",
        "invisible",
        "translate-y-[-10px]",
        "pointer-events-none"
      );
      mobileNav?.classList.add(
        "opacity-100",
        "visible",
        "translate-y-0",
        "pointer-events-auto"
      );
    }

    function closeMenu() {
      mobileNav?.classList.remove(
        "opacity-100",
        "visible",
        "translate-y-0",
        "pointer-events-auto"
      );
      mobileNav?.classList.add(
        "opacity-0",
        "invisible",
        "translate-y-[-10px]",
        "pointer-events-none"
      );
    }

    function toggleMenu() {
      const isHidden = mobileNav?.classList.contains("opacity-0");
      isHidden ? openMenu() : closeMenu();
    }

    hamburger?.addEventListener("click", () => {
      toggleMenu();
    });

    links?.forEach((link) => {
      link.addEventListener("click", () => {
        closeMenu();
      });
    });
  }

  setupMobileMenu();
  // Jalankan function saat load page, karena Astro menggunakan SPA
  document.addEventListener("astro:page-load", setupMobileMenu);
</script>
