---
interface Props {
  title?: string;
  baseClassesTitle?: string;
  subtitle?: string;
  id?: string;
  extraClasses?: string;
  extraClassesTitle?: string;
}

const { title, subtitle, id, extraClasses, extraClassesTitle } = Astro.props;

const baseClasses =
  "min-h-fit space-y-1.5 px-5 md:px-10 py-10 overflow-y-auto overscroll-y-contain";
const baseClassesTitle =
  "text-2xl md:text-6xl lg:text-2xl font-medium mb-2 px-3 w-fit rounded-4xl border";
---

<section class:list={[baseClasses, extraClasses]} id={id}>
  <div class="max-w-6xl w-full h-full">
    <h1 class:list={[baseClassesTitle, extraClassesTitle]}>
      {title}
    </h1>
    <h2 class="mt-4 text-4xl lg:text-6xl">{subtitle}</h2>

    <div class="mt-3 space-y-3">
      <slot />
    </div>
  </div>
</section>
