---
const {title, subtitle} = Astro.props;
---

<section class="px-5 py-16 text-blacknord space-y-1.5">
    <h1 class="text-5xl font-bold ">{title}</h1>
    <h2 class="text-xl">{subtitle}</h2>

    <div class="mt-5 space-y-3">
        <slot/>
    </div>
</section>