---
import { Image } from "astro:assets";

const { src, alt, title, description } = Astro.props;
---

<div class="w-full pb-3 md:pb-5 bg-graynord/10 space-y-2 rounded">
  <Image src={src} alt={alt} class="w-full rounded" />

  <div class="w-full px-3 md:px-5 space-y-2">
    <p class="font-medium text-xl md:text-2xl">{title}</p>
    <p class="">{description}</p>
    <slot />
  </div>
</div>
